/*ウィンドウ幅が最大767pxまでの場合に適用(タブレット用)*/
@media screen and (max-width: 767px) {

    .header{
        width: 250px;
    }
    .right{
        width: 100px;
    }
    .footer{
        width: 250px;
    }
}

@media screen and (max-width: 479px) {

    .header {
        width: 150px;
    }
    .main{
        height: 500px;
    }
    .left{
        float: none;
        height: 250px;
    }
    .right{
        width: 150px;
        height: 250px;
        float: none;
    } 
    .footer {
        width: 150px;
    }
}